.barra-navegação {
    text-align: right;
}

.titulo-homepage {
    text-align: center;
}

.titulo-about {
    text-align: center;
}

.titulo-contact {
    text-align:center;
}

.titulo-work {
    text-align:center;
}
.contactos {
    text-align:center
}

.listas-projetos {
    text-align:center;
}